<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.6.0.min.js">/*jquery 최신버전 사용*/</script>

    <title>Document</title>
</head>
<body>
    <h1>Welcome to my home page</h1>
    <h2>환영합니다.!</h2>

    <table class="type02">
        <caption><%=title%></caption>
        <tr>
          <th>Employee<br>Number</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Extension</th>
          <th>Email</th>
          <th>Officecode</th>
          <th>Reportsto</th>
          <th>Jobtitle</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td colspan="9">자료없음</td>
        </tr>
      </table>
</body>
</html>






