<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/dir_statics/css/style.css" rel="stylesheet" type="text/css">
    <script src="/dir_statics/js/jquery-3.6.0.min.js">/*jquery 최신버전 사용*/</script>

    <title>Document</title>
</head>
<body>
  <h1>Welcome to my home page</h1>
  <h2>환영합니다.! <%=customerNumber%></h2>
</body>

</html>